.styleInput {
	width: 70% !important;
	font-family: ui-serif;
}

.styleTitle {
	text-align: center !important;
	font-size: 39px !important;
	font-family: ui-serif !important;
	padding: 0% 15% !important;
	padding-bottom: 8% !important;
	color: cadetblue !important;
}

.imageStyle {
	width: 100% !important;
	padding-left: 20% !important;
	padding-top: 20% !important;
	border-radius: 55% !important;
}

.buttonL {
	width: 327% !important;
	font-size: 18px !important;
	font-weight: 100 !important;
}

.buttonC {
	width: 158% !important;
	left: 115% ! important;
}

.buttonL :hover {
	transition: 1.5s ease-in-out !important;
	background: #4F95DA !important;
	stroke-dashoffset: -480 !important;
}

.buttonC :hover {
	transition: 2s ease-in-out !important;
	background: #4F95DA !important;
	stroke-dashoffset: -480 !important;
}

.styleBox1 {
	width: 300% !important;
	padding-left: 90% !important;
	padding-top: 85% !important;
	
}

.buttonWarning1 {
	left: -35% !important;
	width: 30% ! important;
}

.textWelcome {
	padding: 2% 0% !important;
	padding-left: 5% !important;
	font-size: 20px !important;
	font-family: cursive !important;
}

.userWelcome {
	padding: 2% 0% !important;
	font-size: 20px !important;
	font-family: cursive !important;
}

.libraryLocal {
	left: 60% !important;
}

.infoName {
	padding-bottom: 10% !important;
	font-size: 19px !important;
	padding-left: 36% !important;
	font-style: oblique !important;
}

.infoSchel {
	padding-top: 4% !important;
	padding-bottom: 5% !important;
	font-size: 18px !important;
	padding-left: 50% !important;
	font-style: oblique !important;
}

.infoBtn {
	left: 49% !important;
}

.settingsBtn {
	left: 61% !important;
}

.logOutBtn {
	left: 62% !important;
}

.historyR {
	padding-top: 10% !important;
	width: 92% !important;
    padding-left: 7% !important;
}

.resetAccount1 {
   
    margin-top: 8%;
    width: 82% !important;
    margin-inline: 5% !important;
    -webkit-text-fill-color: black !important;
}
.resetAccount2 {
   
    margin-top: 6%;
    width: 82% !important;
    margin-inline: 10% !important;
    background: white !important;
    -webkit-text-fill-color: black !important;
}

.imgLayout{
	    width: 81% !important;
}

.resetBtn {
	padding: 2% 0% !important;
	width: 100% !important;
}

.styleList {
	width: 80% !important;
    padding-left: 9% !important;
}

.styleBtnMore {
	padding: 1% 0% !important;
	width: 100% !important;
}

.styleInputAdd {
	padding: 0% 5% !important;
	width: 70% !important;
}

.bookList {
	padding: 5% 5% !important;
}

.imageStyle2 {
	width: 60% !important;
	padding-left: 20% !important;
	padding-top: 4% !important;
	border-radius: 30% !important;
}

.imageStyle3{
	width: 80% !important;
    padding-left: 7% !important;
    padding-top: !important;
    border-radius: 55% !important;
}
